* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 2rem 1rem;
  background-color: #2eec96;
}
form {
  max-width: 30rem;
  margin: 0 auto;
  padding: 1.5rem 5rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.heading {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  text-align: center;
}
.input {
  padding: 0.5rem;
  width: 20rem;
  margin: 1rem 0.2rem;
  outline: none;
  border: 0.1rem solid #bbb;
  border-radius: 0.2rem;
  display: inline-block;
  display: flex;
}
.submit-button {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn {
  font-size: 1.1rem;
  padding: 0.5rem 1.8rem;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}
